{% load globaltags %}
<div class="sidebar-module sidebar-module-inset">
  <p>
    <b>Pytoday</b><br/><br/><I>The only constant is change.</I><hr />
    Contribute this blog on github:<br /><br/>
    <iframe src="https://ghbtns.com/github-btn.html?user=pytoday&repo=Django-Blog-Python-Learning&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=pytoday&repo=Django-Blog-Python-Learning&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  </p>
</div>
{% if user.is_authenticated %}
<div class="sidebar-module sidebar-module-inset">
        <button onclick="location.href='/admin/'" type="button" class="btn btn-success btn-block cst__radius">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Hello, {{ user.username }}</button>
        <!--<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Logout -->
        <button onclick="location.href='/users/logout'" type="button" class="btn btn-success btn-block cst__radius">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout </button>
        <!--<span class="glyphicon glyphicon-save" aria-hidden="true"></span> Logout -->
</div>
{% else %}
    <div class="sidebar-module sidebar-module-inset">
    <button onclick="location.href='/users/login'" type="button" class="btn btn-success btn-block cst__radius">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login </button>
    </div>

{% endif %}

<!--
<div class="sidebar-module sidebar-module-inset">
  <div class="fb-page" data-href="https://www.facebook.com/PythonGeek/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
    <div class="fb-xfbml-parse-ignore">
      <blockquote cite="https://www.facebook.com/PythonGeek/">
        <a href="https://www.facebook.com/PythonGeek/">Python Geek</a>
      </blockquote>
    </div>
  </div>
</div>
-->

<div class="sidebar-module sidebar-module-inset">
  <h4>Recent Posts</h4>
  {% recentposts as recentposts_list %}
  {% for post in recentposts_list %}
    <li><a href="{% url 'detail_post_page' slug=post.slug %}">{{ post.title }}</a></li>
  {% empty %}
    <p>No posts yet!</p>
  {% endfor %}
</div>

<div class="sidebar-module sidebar-module-inset">
  <h4>Entire Tags</h4>
  {% populartags as populartags_list %}
  {% for tag in populartags_list %}
    <a class="btn btn-sm btn-block btn-default cst__radius cst__tags" href="{% url 'tag_posts_page' slug=tag.tag.slug %}">
      {{ tag.tag.title }} <span class="badge pull-right">{{ tag.total }}</span>
    </a>
  {% empty %}
    <p>No tags yet!</p>
  {% endfor %}
</div>
